<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>L'obiettivo di questo blog è raccogliere e condividere, con colleghi amici e non, appunti sulle esperienze ICT; che 
per esperienza sappiamo che accadono non con una frequenza inversamente proporzionale alla loro difficoltà <br><em>"I problemi semplici accadono frequentemente e i problemi complessi sono più sporadici"</em>.<br> Ma c'è una postilla di Murphy: i problemi complessi ri-accadono quando hai perso gli appunti sul come risolverli.
		</p>
	</div>

  <!--img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=i+problemi+complessi+riaccadono+quando+hai+perso+gli+appunti+sul come risolverli." alt=""-->


	<div class="border-dotted radius b30">
		<img src="http://imgs.xkcd.com/comics/blogging.png" alt="blogging">
		<p class="text-left"><a href="https://xkcd.com/">Xkcd</a></p>
	</div>
</aside>
