<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>L'obiettivo di questo blog è raccogliere e condividere, con colleghi amici e non, appunti sulle esperienze ICT, che 
per esperienza sappiamo che accadono non con una frequenza inversamente proporzionale alla loro difficoltà <em>(i problemi semplici accadono frequentemente e i problemi complessi sono più sporadici)</em> . Ma c'è una postilla di Murphy: i problemi complessi ri-accadono quando hai perso gli appunti sul come risolverli.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
